.bigPoints:focus {
    outline: none;
  }


  .bigPoints:active {
    outline: none;
  }

  .adminBigPoints{
    border: 1px solid #0000001A;
  }

 
  .adminBigPoints::placeholder {
    font-weight: bold;
    opacity: 1;
    color: lightgrey;
    padding: 1rem;


  }